<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="VoterDao" class="com.example.evote_server.dao.VoterDaoImpl"></bean>
	<bean id="VoterServiceImpl" class="com.example.evote_server.serviceImpl.VoterServiceImpl">
		<property name="VoterDao" ref="VoterDao"></property>
	</bean>
	<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
		<!-- does not necessarily have to be the same name as the bean to be exported -->
		<property name="serviceName" value="VoterService" />
		<property name="service" ref="VoterServiceImpl" />
		<property name="serviceInterface" value="com.example.evote_server.service.VoterService" />
		<!-- defaults to 1099 -->
		<property name="registryPort" value="1199" />
	</bean>
</beans>